.testao-page {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: auto;
  padding: 20px;
  row-gap: 20px;
}

.testao-chat-container {
  margin-top: 30px;
}

.testao-msg-line {
  padding: 10px;
  background-color: rgb(227, 248, 227);
  border-bottom: 1px solid rgb(233, 229, 229);
}

.testao-msg-line:hover {
  background-color: rgb(207, 243, 207);
}

.testao-msg-header {
  display: flex;
  column-gap: 10px;
}

.testao-message {
  padding-left: 55px;
  padding-right: 15px;
  margin-bottom: 10px;
  color: rgb(78, 68, 68);
}

.my-post {
  /* background-color: green; */
}

.testao-msg-portrait {
  width: 45px;
  height: 45px;
}

.testao-msg-text {
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  align-items: center;
}

.testao-msg-nickname {
  font-weight: 600;
  font-size: 16px;
}

.testao-msg-address {
  color: gray;
  font-size: 12px;
}

.other-line {
  align-self: flex-start;
}

.my-line {
  align-self: flex-end;
  justify-content: flex-end;
}

.testao-msg-time {
  font-size: 13px;
  color: gray;
}

.testao-input-message {
  width: 500px;
  border-radius: 10px;
  border: 1px solid rgb(85, 103, 169);
  padding: 5px 10px;
  margin-right: 20px;
}

.testao-input-message.nickname {
  width: 189px;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
}

.testao-input-message.process {
  height: 30px;
}

.testao-nickname-line {
  display: flex;
  align-items: center;
}

.testao-connect-button {
  width: 180px;
  height: 45px;
  border-radius: 10px;
  border: none;
  margin-right: 50px;
  background-color: rgb(104, 115, 206);
  color: white;
  font-size: 15px;
}

.testao-input-container {
  /* border: 1px solid lightgray; */
  border-radius: 10px;
  /* margin-bottom: 10px; */
  background-color: var(--section-color);
}

.testao-actions {
  display: flex;
  /* justify-content: space-between; */
  margin: 10px;
}

.testao-filter {
  width: 120px;
  border: none;
  margin-right: 50px;
}
