.testao-page {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: auto;
  padding: 20px 10px;
  row-gap: 20px;
}

.testao-chat-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 450px;
  background-color: rgb(227, 248, 227);
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 20px;
  overflow-y: auto;
}

.testao-msg-line {
  display: flex;
  align-items: center;
  column-gap: 10px;
  max-width: 370px;
  background-color: rgb(65, 67, 72);
  border-radius: 20px;
  padding: 3px 15px;
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
}

.testao-msg-text {
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  align-items: center;
}

.testao-msg-nickname {
  color: yellow;
  font-weight: 500;
  font-size: 15px;
}

.testao-msg-address {
  color: lightgray;
  font-size: 11px;
  margin-top: -4px;
}

.other-message {
  align-self: flex-start;
  border-bottom-left-radius: 0;
}

.my-message {
  align-self: flex-end;
  border-bottom-right-radius: 0;
  background-color: green;
}

.testao-input-message {
  width: 500px;
  border-radius: 10px;
  border: 1px solid rgb(85, 103, 169);
  padding: 5px 10px;
  margin-right: 20px;
}

.testao-nickname-line {
  display: flex;
  align-items: center;
}

.testao-input-message.nickname {
  width: 200px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgb(85, 103, 169);
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 18px;
}

.testao-send-button {
  width: 90px;
  height: 50px;
  font-size: 18px;
  color: black;
  background-color: rgb(189, 239, 189);
  border-radius: 10px;
  border: 2px solid rgb(46, 75, 180);
}

.testao-connect-button {
  width: 180px;
  height: 45px;
  border-radius: 10px;
  border: none;
  margin-right: 50px;
  background-color: rgb(104, 115, 206);
  color: white;
  font-size: 15px;
}