.profile-page {
  display: flex;
  flex-direction: column;
  max-width: var(--page-max-width);
  margin: auto;
  padding-left: 30px;
  padding-bottom: 30px;
}

.profile-page-header {
  position: relative;
}

.profile-page-banner {
  width: 100%;
}

.profile-page-portrait {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -45px;
  left: 10px;
  border-radius: 50%;
}

.profile-page-user-online {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  bottom: 32px;
  left: 87px;
}

.profile-page-button-container {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  justify-content: flex-end;
}

@media (min-width: 600px) {
  .profile-page-button-container {
    margin-right: 0px;
  }
}

.profile-page-action-button {
  width: 42px;
  height: 40px;
  font-size: 18pt;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  border: 1px solid gray;
  border-radius: 50%;
  cursor: pointer;
}

.profile-page-name {
  /* color: white; */
  font-size: 1.2em;
  margin-left: 20px;
}

.profile-page-id {
  margin-left: 20px;
  font-size: 0.8em;
  margin-top: 5px;
  color: gray;
}

.profile-page-slug {
  margin-left: 20px;
}

.profile-page-desc {
  /* color: white; */
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.profile-page-joined-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 15px;
  color: gray;
}

.profile-page-joined {
  margin-left: 10px;
  font-size: 15px;
}

.profile-page-posts {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 10px;
}

.profile-page-navlink {
  cursor: pointer;
  /* color: #ffffffa0; */
}

.profile-page-navlink:visited {
  color: #ffffffa0;
}

.profile-page-filter-container {
  display: flex;
  /* border-radius: 10px; */
  padding: 8px 15px;
  margin: 15px 0px;
  background-color: var(--section-header-color);
}

.profile-page-filter {
  margin: 0 10px;
  cursor: pointer;
  color: lightgray;
}

.profile-page-filter.selected {
  border-bottom: 1px solid white;
  color: white;
  cursor: default;
}

.profile-page-follow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 20px;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: black;
  cursor: pointer;
}

.profile-page-follow-button.following {
  color: black;
  background-color: white;
  border: 1px solid gray;
}

.profile-page-follow-button.unfollow {
  color: red;
  background-color: rgb(239, 233, 233);
  border: 1px solid gray;
}

.profile-page-follow-container {
  display: flex;
  column-gap: 20px;
  margin-left: 20px;
  margin-top: 15px;
}

.profile-page-follow-link {
  display: flex;
  column-gap: 5px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

.profile-page-follow-link:hover {
  border-bottom: 1px solid lightgray;
}

.profile-page-follow-number {
  color: black;
  font-weight: 600;
}

.profile-page-follow-text {
  color: gray;
}

@media (max-width: 650px) {
  .profile-page {
    padding: 10px;
    padding-bottom: 60px;
  }
}