.navbar-container {
  display: flex;
  flex-direction: column;
}

.navbar-button {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar-button-icon {
  width: 30px;
  height: 30px;
}

.navbar-text {
  margin-left: 10px;
}

@media (max-width: 850px) {
  .navbar-text {
    display: none;
  }
}

@media (max-width: 710px) {
  .navbar-container {
    display: none;
  }
  .navbar-text {
    display: block;
  }
}

.navbar-link, .navbar-link-active {
  height: 30px;
  color: rgb(113, 105, 105);
  text-decoration: none;
  margin-bottom: 10px;
  border-radius: 30px;
  padding: 10px 20px;
}

.navbar-link:hover {
  color: white;
  background-color: var(--section-header-color);
}

.navbar-link-active {
  font-weight: 600;
  color: black;
}

.pop-navbar-link {
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  text-decoration: none;
}

.navbar-red-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  right: -7px;
}

.navbar-label-beta {
  font-size: 13px;
  color: white;
  padding: 0px 5px;
  line-height: 17px;
  /* border-radius: 10px; */
  background-color: red;
  position: absolute;
  right: 0px;
  top: -5px;
}

.new {
  top: -12px;
}

.navbar-bottom {
  text-align: center;
  color: rgb(19, 71, 182);
  font-style: italic;
  font-size: 0.85em;
  margin-top: 50px;
}