
.story-card {
  position: relative;
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  align-items: center;
  padding: 10px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: var(--section-header-color);
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.story-card-header {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.story-card-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #00000040;
}

.story-card-image {
  max-width: 100px;
  max-height: 100px;
  border-radius: 10px;
}

.story-card-publisher {
  color: lightgray;
}

.story-card-title {
  /* margin: 5px 0; */
  font-size: 1.1em;
}

.story-card-summary {
  color: gray;
  font-size: 0.88em;
  line-height: 20px;
}

.story-card-state-row {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.story-card-state {
  display: flex;
  align-items: center;
}

.story-card-state-number {
  margin-left: 5px;
  font-size: 15px;
  color: lightgray;
}
