.post-story-modal-story-title {
  width: 95%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.post-story-modal-left-actions {
  display: flex;
  column-gap: 20px;
}

.post-story-modal-poll-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.post-story-modal-poll-container {
  display: flex;
  flex-direction: column;
  /* row-gap: 10px; */
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid lightgray;
  color: gray;
}

.post-story-modal-poll-option {
  width: 83%;
}

.poll-option-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.add-poll-option-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
}

.poll-length-input {
  width: 120px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.poll-token-process {
  width: 200px;
  margin-right: 20px;
}

.poll-token-amount {
  width: 60px;
  margin-right: 20px;
}

.poll-token-send {
  width: 100px;
}

.button-remove-poll {
  padding: 0px 10px 0px 10px;
  height: 30px;
}